## 3 questions on conditional statements:
## If-else statement

---

In [1]:
number = 9
if number % 2 == 0:
    print('even')
else:
    print('odd')

odd

## Nested-If statements

---

In [ ]:
score = 45
if score >= 90:
    print('Grade A')
elif score >= 80:
    print('Grade B')
elif score >= 70:
    print('Grade C')
elif score >= 60:
    print('Grade D')
else:
    print('Grade F')

Grade F

In [ ]:
age= -70
if age <0 or age>120:
  print('Invalid age')
elif age<= 12:
  print('Child')
elif age <= 17:
  print('Teen')
elif age <=64:
  print('Adult:')
else:
  print ('Senior')

Invalid age

## 3 questions on Functions:

---

In [ ]:
#defining the function with the following pseudocode:
def days_week(day):
    match day:
        case 1:
            return "Monday"
        case 2:
            return "Tuesday"
        case 3:
            return "Wednesday"
        case 4:
            return "Thursday"
        case 5:
            return "Friday"
        case 6:
            return "Saturday"
        case 7:
            return "Sunday"
        case _:
            return "Invalid day"
# Testing the function
print(days_week(1))
print(days_week(4))
print(days_week(7))
print(days_week(9))

Monday
Thursday
Sunday
Invalid day

In [ ]:
def square(number):
    return number * number
print(square(4))
print(square(-8))
print(square(7.5))

16
64
56.25

In [ ]:
def factorial(n):
    if n < 0:
        return "Invalid input"
    elif n == 0 or n == 1:
        return 1
    else:
        result = 1
        for i in range(2, n + 1):
            result += i
        return result
print(factorial(5))
print(factorial(0))
print(factorial(-3))

15
1
Invalid input